@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.4s linear;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
}

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(8, 40, 41, 0.05);
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.border-btn {
  color: #149E4C;
  border: 1px solid #ebebeb;
}
.border-btn:hover {
  border-color: #149E4C;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.rate {
  font-size: 14px;
  color: #8b8b8b;
}
.rate:before {
  content: "";
  background: url("../img/star.svg") no-repeat 0 0/contain;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin: -1px 8px 0 0;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.badges {
  display: flex;
}
.badges__item {
  font-size: 14px;
  color: #8b8b8b;
  border: 1px solid #E9E9E9;
  border-radius: 100px;
  padding: 12px 16px 9px;
  margin-right: 11px;
  background: #FFFFFF;
}
.badges__item:last-child {
  margin-right: 0;
}
.badges__item:hover {
  background: #F7FBF9;
}
.badges .filter-icon:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin: -3px 10px 0 0;
}
.badges .filter-new:before {
  background: url("../img/new-icon.png") no-repeat 0 0/contain;
}

.circle {
  display: block;
  height: 64px;
  width: 64px;
  border-radius: 100%;
  position: relative;
}
.circle:after {
  content: attr(data-pct);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  color: #149E4C;
  padding-top: 4px;
}
.circle.--high:after {
  color: #149E4C;
}
.circle.--high .circle-progress__bar {
  stroke: #149E4C;
}
.circle.--mid:after {
  color: #FF7D04;
}
.circle.--mid .circle-progress__bar {
  stroke: #FF7D04;
}
.circle.--low:after {
  color: #E30909;
}
.circle.--low .circle-progress__bar {
  stroke: #E30909;
}
.circle .circle-progress {
  transform: rotate(-90deg);
}
.circle .circle-progress circle {
  stroke-width: 4px;
}

.content-header-reviews__top-wrap {
  background: #FFFFFF;
  padding: 21px 0 32px;
}
.content-header-reviews__top-wrap .breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #8b8b8b;
}
.content-header-reviews__top-wrap .breadcrumbs li:last-child:after {
  display: none;
}
.content-header-reviews__top-wrap .breadcrumbs li:after {
  content: "";
  background: #8b8b8b;
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.content-header-reviews__top-wrap .breadcrumbs li a {
  color: #8b8b8b;
}
.content-header-reviews__top-wrap .breadcrumbs li a:hover {
  text-decoration: underline;
}
.content-header-reviews__top-wrap .head-wrap {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content-header-reviews__top-wrap .head-wrap__logo {
  width: 161px;
  height: 161px;
  margin-bottom: -74px;
}
.content-header-reviews__top-wrap .head-wrap__logo img {
  width: 100%;
}
.content-header-reviews__top-wrap .head-wrap__name {
  margin-top: 4px;
  margin-left: 37px;
}
.content-header-reviews__top-wrap .head-wrap__name-title {
  font-size: 20px;
  color: #050A0A;
  font-family: Gilroy-Medium, sans-serif;
}
.content-header-reviews__top-wrap .head-wrap__name-subtitle {
  margin-top: 13px;
  display: flex;
  align-items: center;
}
.content-header-reviews__top-wrap .head-wrap__name-subtitle .green-btn {
  margin-right: 24px;
  padding: 13px 35px 12px;
}
.content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap {
  display: flex;
  align-items: center;
}
.content-header-reviews__top-wrap .head-wrap__name-subtitle .rate {
  margin-right: 24px;
  margin-top: 3px;
}
.content-header-reviews__top-wrap .head-wrap__name-subtitle .rate .mob-stars {
  display: none;
}
.content-header-reviews__top-wrap .head-wrap .rep-wrap {
  margin-left: auto;
}
.content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-label,
.content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-btn {
  display: none;
}
.content-header-reviews__top-wrap .head-wrap__reputation {
  background: url("../img/reputation-bg.svg") no-repeat 0 0/contain;
  width: 168px;
  height: 88px;
  display: flex;
  align-items: center;
  z-index: 1;
  padding-left: 12px;
}
.content-header-reviews__top-wrap .head-wrap__reputation .circle {
  width: 36px;
  height: 36px;
}
.content-header-reviews__top-wrap .head-wrap__reputation .circle:after {
  font-size: 14px;
  padding-top: 3px;
}
.content-header-reviews__top-wrap .head-wrap__reputation .circle .circle-progress circle {
  stroke-width: 2px;
}
.content-header-reviews__top-wrap .head-wrap__reputation .reputation-text {
  margin-left: 15px;
}
.content-header-reviews__top-wrap .head-wrap__reputation .reputation-text-title {
  font-size: 18px;
  color: #149E4C;
}
.content-header-reviews__top-wrap .head-wrap__reputation .reputation-text p + p {
  margin-top: 4px;
  font-size: 14px;
  color: #687576;
}
.content-header-reviews__bottom-wrap {
  padding: 26px 0 12px;
  background: #f8f8f8;
}
.content-header-reviews__bottom-wrap .content-center {
  display: flex;
  justify-content: flex-end;
}
.content-header-reviews__bottom-wrap .mob-badges {
  display: none;
}
.content-header-reviews__bottom-wrap .subheader-wrap {
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-header-reviews__bottom-wrap .subheader-wrap__status {
  display: flex;
  align-items: center;
}
.content-header-reviews__bottom-wrap .subheader-wrap__status .status-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.content-header-reviews__bottom-wrap .subheader-wrap__status .status-ok {
  background: url("../img/country-in.svg") no-repeat 0 0/contain;
}
.content-header-reviews__bottom-wrap .subheader-wrap__status .status-text {
  font-size: 14px;
  color: #8b8b8b;
  font-family: Gilroy-Regular, sans-serif;
  margin-top: 1px;
}
.content-header-reviews__bottom-wrap .subheader-wrap__label {
  margin-left: auto;
  margin-right: 45px;
  display: flex;
  align-items: center;
}
.content-header-reviews__bottom-wrap .subheader-wrap__label-icon {
  width: 35px;
  height: 35px;
}
.content-header-reviews__bottom-wrap .subheader-wrap__label .best-mobile {
  background: url("../img/award_best-mobile.svg") no-repeat 0 0/contain;
}
.content-header-reviews__bottom-wrap .subheader-wrap__label-text {
  margin-left: 7px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
}
.content-header-reviews__bottom-wrap .subheader-wrap__update {
  font-size: 14px;
  color: #8b8b8b;
  font-family: Gilroy-Regular, sans-serif;
  margin-top: 1px;
}

.content {
  padding: 18px 0 50px;
  background: #f8f8f8;
}
.content .inner-title {
  font-size: 20px;
  color: #050A0A;
  margin-bottom: 21px;
  letter-spacing: -0.015em;
}
.content .content-center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content__side-menu {
  width: 24%;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(8, 40, 41, 0.05);
  border-radius: 6px;
  padding: 0 20px 20px;
}
.content__side-menu .side-menu__list-item {
  border-bottom: 1px solid #ebebeb;
}
.content__side-menu .side-menu__list-item a {
  font-size: 14px;
  color: #050A0A;
  display: flex;
  padding: 20px 0 17px;
  position: relative;
  outline: none;
  width: max-content;
}
.content__side-menu .side-menu__list-item a:before {
  content: "";
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: #BFBFBF;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 15px;
}
.content__side-menu .side-menu__list-item a:hover {
  color: #149E4C;
}
.content__side-menu .side-menu__list-item a:hover:before {
  background-color: #149E4C;
}
.content__side-menu .side-menu__list .active a {
  color: #149E4C;
}
.content__side-menu .side-menu__list .active a:before {
  background-color: #149E4C;
}
.content__side-menu .side-menu__list .item-1 a:before {
  mask-image: url("../img/aside-icon-1.svg");
  width: 16px;
  height: 13px;
}
.content__side-menu .side-menu__list .item-2 a:before {
  mask-image: url("../img/aside-icon-2.svg");
  width: 14px;
  height: 15px;
}
.content__side-menu .side-menu__list .item-3 a:before {
  mask-image: url("../img/aside-icon-3.svg");
  width: 15px;
  height: 12px;
  margin-top: 1px;
}
.content__side-menu .side-menu__list .item-4 a:before {
  mask-image: url("../img/aside-icon-4.svg");
  width: 15px;
  height: 15px;
}
.content__side-menu .side-menu__list .item-5 a:before {
  mask-image: url("../img/aside-icon-5.svg");
  width: 13px;
  height: 15px;
}
.content__side-menu .side-menu__list .item-6 a:before {
  mask-image: url("../img/aside-icon-6.svg");
  width: 15px;
  height: 14px;
}
.content__side-menu .side-menu__list .item-7 a:before {
  mask-image: url("../img/aside-icon-7.svg");
  width: 14px;
  height: 14px;
  margin-top: 0;
}
.content__side-menu .casino-info {
  margin-top: 27px;
  display: flex;
  flex-wrap: wrap;
}
.content__side-menu .casino-info__img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}
.content__side-menu .casino-info__name {
  margin-left: 15px;
}
.content__side-menu .casino-info__name .name {
  font-size: 14px;
  color: #050A0A;
}
.content__side-menu .casino-info__name .rate {
  margin-top: 6px;
  font-size: 12px;
}
.content__side-menu .casino-info__name .rate:before {
  margin-top: -2px;
}
.content__side-menu .casino-info__btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px 0 9px;
}
.content__right-side {
  width: 74.5%;
}
.content__right-side .bonuses__more,
.content__right-side .about__more,
.content__right-side .characteristics__more,
.content__right-side .slots__more,
.content__right-side .providers__more,
.content__right-side .banking__more {
  margin: 28px -30px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ebebeb;
  padding: 28px 30px 0;
}
.content__right-side .bonuses__more .show-all,
.content__right-side .about__more .show-all,
.content__right-side .characteristics__more .show-all,
.content__right-side .slots__more .show-all,
.content__right-side .providers__more .show-all,
.content__right-side .banking__more .show-all {
  font-size: 14px;
  color: #149E4C;
  cursor: pointer;
}
.content__right-side .bonuses__more .show-all:before,
.content__right-side .about__more .show-all:before,
.content__right-side .characteristics__more .show-all:before,
.content__right-side .slots__more .show-all:before,
.content__right-side .providers__more .show-all:before,
.content__right-side .banking__more .show-all:before {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #149E4C;
  width: 14px;
  height: 9px;
  display: inline-block;
  vertical-align: top;
  margin: 3px 12px 0 0;
}
.content__right-side .promotions,
.content__right-side .about,
.content__right-side .characteristics,
.content__right-side .vantages,
.content__right-side .bonuses,
.content__right-side .opinion,
.content__right-side .providers,
.content__right-side .banking,
.content__right-side .slots,
.content__right-side .products,
.content__right-side .devices,
.content__right-side .support,
.content__right-side .registration,
.content__right-side .faq {
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(8, 40, 41, 0.05);
  border-radius: 6px;
  padding: 30px 30px 30px;
  margin-bottom: 20px;
}
.content__right-side .promotions__info,
.content__right-side .about__info,
.content__right-side .characteristics__info,
.content__right-side .vantages__info,
.content__right-side .bonuses__info,
.content__right-side .opinion__info,
.content__right-side .providers__info,
.content__right-side .banking__info,
.content__right-side .slots__info,
.content__right-side .products__info,
.content__right-side .devices__info,
.content__right-side .support__info,
.content__right-side .registration__info,
.content__right-side .faq__info {
  display: none;
}
.content__right-side .promotions .toggle-list,
.content__right-side .about .toggle-list,
.content__right-side .characteristics .toggle-list,
.content__right-side .vantages .toggle-list,
.content__right-side .bonuses .toggle-list,
.content__right-side .opinion .toggle-list,
.content__right-side .providers .toggle-list,
.content__right-side .banking .toggle-list,
.content__right-side .slots .toggle-list,
.content__right-side .products .toggle-list,
.content__right-side .devices .toggle-list,
.content__right-side .support .toggle-list,
.content__right-side .registration .toggle-list,
.content__right-side .faq .toggle-list {
  display: block;
}
.content__right-side .promotions .toggle-arrow:before,
.content__right-side .about .toggle-arrow:before,
.content__right-side .characteristics .toggle-arrow:before,
.content__right-side .vantages .toggle-arrow:before,
.content__right-side .bonuses .toggle-arrow:before,
.content__right-side .opinion .toggle-arrow:before,
.content__right-side .providers .toggle-arrow:before,
.content__right-side .banking .toggle-arrow:before,
.content__right-side .slots .toggle-arrow:before,
.content__right-side .products .toggle-arrow:before,
.content__right-side .devices .toggle-arrow:before,
.content__right-side .support .toggle-arrow:before,
.content__right-side .registration .toggle-arrow:before,
.content__right-side .faq .toggle-arrow:before {
  transform: rotate(180deg);
}
.content__right-side .promotions__title {
  margin-bottom: 38px;
}
.content__right-side .promotions__list {
  display: flex;
  justify-content: flex-start;
}
.content__right-side .promotions__list-item {
  margin-right: 20px;
  display: flex;
  align-items: center;
  background: #f8f8f8;
  border-radius: 6px;
  padding: 12px 16px;
  width: 288px;
}
.content__right-side .promotions__list-item:last-child {
  margin-right: 0;
}
.content__right-side .promotions__list-item:nth-child(1n) .promotions__list-item-icon {
  background: url("../img/current-promo-icon-1.svg") no-repeat 0 0/contain;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 20px;
}
.content__right-side .promotions__list-item:nth-child(2n) .promotions__list-item-icon {
  background: url("../img/current-promo-icon-2.svg") no-repeat 0 0/contain;
}
.content__right-side .promotions__list-item-text p {
  font-size: 16px;
  color: #050A0A;
  margin-bottom: 6px;
  letter-spacing: -0.015em;
}
.content__right-side .promotions__list-item-text span {
  display: block;
  font-size: 14px;
  color: #8b8b8b;
}
.content__right-side .bonuses__list-title {
  display: flex;
  margin-top: 34px;
}
.content__right-side .bonuses__list-title li {
  font-size: 12px;
  text-transform: uppercase;
  color: #8b8b8b;
}
.content__right-side .bonuses__list-title li:nth-child(1) {
  width: 31.4%;
}
.content__right-side .bonuses__list-title li:nth-child(2) {
  width: 26.5%;
}
.content__right-side .bonuses__list-title li:nth-child(3) {
  width: 15.5%;
}
.content__right-side .bonuses__list-title li:nth-child(4) {
  width: 10%;
}
.content__right-side .bonuses__list {
  margin-top: 15px;
}
.content__right-side .bonuses__list-item {
  padding: 21px 0;
  display: flex;
  border-bottom: 1px solid #ebebeb;
  justify-content: space-between;
  align-items: center;
}
.content__right-side .bonuses__list-item .dice:before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  margin: -3px 12px 0 0;
}
.content__right-side .bonuses__list-item:nth-child(1) .dice:before {
  background: url("../img/dice-1.svg") no-repeat 0 0/contain;
}
.content__right-side .bonuses__list-item:nth-child(2) .dice:before {
  background: url("../img/dice-2.svg") no-repeat 0 0/contain;
}
.content__right-side .bonuses__list-item:nth-child(3) .dice:before {
  background: url("../img/dice-3.svg") no-repeat 0 0/contain;
}
.content__right-side .bonuses__list-item p {
  font-size: 14px;
  line-height: 20px;
  color: #050A0A;
}
.content__right-side .bonuses__list-item p:nth-child(1) {
  width: 27%;
}
.content__right-side .bonuses__list-item p:nth-child(2) {
  width: 22%;
}
.content__right-side .bonuses__list-item p:nth-child(3) {
  width: 11%;
}
.content__right-side .bonuses__list-item p:nth-child(4) {
  width: 10%;
}
.content__right-side .bonuses__list-item p .mob-title {
  display: none;
}
.content__right-side .bonuses__btn {
  padding: 13px 21px 11px;
}
.content__right-side .bonuses__dots {
  display: none;
}
.content__right-side .bonuses__description {
  font-size: 14px;
  line-height: 20px;
  font-family: Gilroy-Regular, sans-serif;
  color: #8b8b8b;
  margin-top: 31px;
}
.content__right-side .bonuses__info-title {
  margin-bottom: 12px;
}
.content__right-side .bonuses__info-title:first-of-type {
  margin-top: 50px;
}
.content__right-side .bonuses__info-txt {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  margin-bottom: 20px;
}
.content__right-side .bonuses__info-list {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}
.content__right-side .bonuses__info-list-item {
  font-size: 14px;
  line-height: 20px;
  color: #050A0A;
  width: 270px;
  margin-right: 15px;
  margin-bottom: 35px;
  position: relative;
  padding-left: 45px;
}
.content__right-side .bonuses__info-list-item:before {
  content: "";
  width: 36px;
  height: 36px;
  background: rgba(20, 158, 76, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  left: 0;
}
.content__right-side .bonuses__info .number-list .bonuses__info-list-item:before {
  font-size: 16px;
  color: #149E4C;
}
.content__right-side .bonuses__info .number-list .bonuses__info-list-item:nth-child(1):before {
  content: "1";
}
.content__right-side .bonuses__info .number-list .bonuses__info-list-item:nth-child(2):before {
  content: "2";
}
.content__right-side .bonuses__info .number-list .bonuses__info-list-item:nth-child(3):before {
  content: "3";
}
.content__right-side .bonuses__info .number-list .bonuses__info-list-item:nth-child(4):before {
  content: "4";
}
.content__right-side .bonuses__info .marked-list .bonuses__info-list-item {
  list-style-image: url("../img/check-icon.svg");
  margin-left: 33px;
  padding-left: 15px;
}
.content__right-side .bonuses__info .marked-list .bonuses__info-list-item:before {
  left: -32px;
}
.content__right-side .about__rate {
  margin-top: 31px;
  display: flex;
}
.content__right-side .about__rate-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}
.content__right-side .about__rate-item:last-child {
  margin-right: 0;
}
.content__right-side .about__rate-item-txt {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 12px;
}
.content__right-side .about__subtitle {
  font-size: 18px;
  color: #050A0A;
  margin-top: 30px;
}
.content__right-side .about__txt {
  margin-top: 13px;
  font-size: 16px;
  line-height: 22px;
  font-family: Gilroy-Regular, sans-serif;
  color: #8b8b8b;
}
.content__right-side .about__info-big-img {
  margin-top: 30px;
}
.content__right-side .about__info-thumbList {
  margin-top: 19px;
  display: flex;
  flex-wrap: wrap;
}
.content__right-side .about__info-thumbList-img {
  border-radius: 2px;
  overflow: hidden;
}
.content__right-side .about__info-thumbList-item {
  width: 100px;
  height: 100px;
  margin-right: 12px;
  border-radius: 2px;
  overflow: hidden;
}
.content__right-side .about__info-thumbList-item:last-child {
  margin-right: 0;
}
.content__right-side .characteristics {
  padding-bottom: 30px;
}
.content__right-side .characteristics__title {
  margin-bottom: 40px;
}
.content__right-side .characteristics__item {
  display: flex;
  font-size: 14px;
  margin-bottom: 40px;
}
.content__right-side .characteristics__item-key {
  min-width: 31%;
  color: rgba(16, 16, 16, 0.5);
}
.content__right-side .characteristics__item-value {
  color: #050A0A;
}
.content__right-side .characteristics__item a {
  color: #050A0A;
}
.content__right-side .characteristics__item a:hover {
  text-decoration: underline;
}
.content__right-side .characteristics__more {
  margin-top: 15px;
}
.content__right-side .vantages .wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}
.content__right-side .vantages__positive, .content__right-side .vantages__negative {
  width: 48.3%;
}
.content__right-side .vantages__positive .positive-item,
.content__right-side .vantages__positive .negative-item, .content__right-side .vantages__negative .positive-item,
.content__right-side .vantages__negative .negative-item {
  font-size: 14px;
  line-height: 16px;
  color: #8b8b8b;
  margin-bottom: 10px;
  position: relative;
  padding: 23px 30px 21px 58px;
  background: #f8f8f8;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.content__right-side .vantages__positive .positive-item:last-child,
.content__right-side .vantages__positive .negative-item:last-child, .content__right-side .vantages__negative .positive-item:last-child,
.content__right-side .vantages__negative .negative-item:last-child {
  margin-bottom: 0;
}
.content__right-side .vantages__positive .positive-item:before,
.content__right-side .vantages__positive .negative-item:before, .content__right-side .vantages__negative .positive-item:before,
.content__right-side .vantages__negative .negative-item:before {
  content: "+";
  font-size: 20px;
  line-height: initial;
  color: #149E4C;
  width: 23px;
  height: 22px;
  border-radius: 50%;
  background: rgba(98, 172, 57, 0.16);
  display: flex;
  justify-content: center;
  position: absolute;
  left: 20px;
  padding-top: 1px;
}
.content__right-side .vantages__positive .negative-item:before, .content__right-side .vantages__negative .negative-item:before {
  content: "-";
  color: #E30909;
  background: rgba(227, 9, 9, 0.12);
}
.content__right-side .opinion__wrap {
  background: #f8f8f8;
  padding: 30px;
}
.content__right-side .opinion__author {
  display: flex;
  align-items: center;
}
.content__right-side .opinion__author-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.content__right-side .opinion__author-txt {
  margin-left: 16px;
}
.content__right-side .opinion__author-txt-name {
  font-size: 16px;
  color: #050A0A;
}
.content__right-side .opinion__author-txt-sub {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 4px;
}
.content__right-side .opinion__txt {
  margin-top: 16px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #050A0A;
}
.content__right-side .providers__title,
.content__right-side .banking__title {
  margin-bottom: 30px;
}
.content__right-side .providers__list,
.content__right-side .banking__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content__right-side .providers__list-item,
.content__right-side .banking__list-item {
  width: 31.8%;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.content__right-side .providers__list-item .img-wrap,
.content__right-side .banking__list-item .img-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.content__right-side .providers__list-item .img-wrap img,
.content__right-side .banking__list-item .img-wrap img {
  width: 100%;
}
.content__right-side .providers__list-item p,
.content__right-side .banking__list-item p {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  color: #050A0A;
}
.content__right-side .providers {
  padding-bottom: 30px;
}
.content__right-side .providers__more {
  margin-top: 10px;
}
.content__right-side .banking__subtitle {
  font-size: 14px;
  color: #8b8b8b;
  margin-bottom: 20px;
}
.content__right-side .banking__list {
  margin-bottom: 30px;
}
.content__right-side .banking__more {
  margin-top: 0;
}
.content__right-side .slots {
  padding-bottom: 27px;
}
.content__right-side .slots__list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content__right-side .slots__list-item {
  position: relative;
}
.content__right-side .slots__list-item:hover .title {
  color: #149E4C;
}
.content__right-side .slots__list-item .img-wrap {
  width: 178px;
  height: 178px;
  border-radius: 4px;
}
.content__right-side .slots__list-item .title {
  margin-top: 13px;
  font-size: 16px;
  color: #050A0A;
  letter-spacing: 0.02em;
}
.content__right-side .slots__list-item .subtitle {
  margin-top: 3px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  color: #050A0A;
}
.content__right-side .slots__more {
  margin-top: 30px;
}
.content__right-side .products__list,
.content__right-side .devices__list,
.content__right-side .support__list,
.content__right-side .registration__list {
  margin-top: 24px;
  display: flex;
}
.content__right-side .products__list-item,
.content__right-side .devices__list-item,
.content__right-side .support__list-item,
.content__right-side .registration__list-item {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 10px;
  background: #f8f8f8;
  border-radius: 6px;
  margin-right: 20px;
}
.content__right-side .products__list-item:last-child,
.content__right-side .devices__list-item:last-child,
.content__right-side .support__list-item:last-child,
.content__right-side .registration__list-item:last-child {
  margin-right: 0;
}
.content__right-side .products__list-item p,
.content__right-side .devices__list-item p,
.content__right-side .support__list-item p,
.content__right-side .registration__list-item p {
  font-size: 14px;
  color: #050A0A;
}
.content__right-side .devices__list-item .item-icon,
.content__right-side .support__list-item .item-icon,
.content__right-side .registration__list-item .item-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.content__right-side .devices__list-item .item-icon:before,
.content__right-side .support__list-item .item-icon:before,
.content__right-side .registration__list-item .item-icon:before {
  content: "";
}
.content__right-side .products__list-item .item-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 18px;
}
.content__right-side .products__list-item:nth-child(1n) .item-icon {
  background: url("../img/products-1.svg") no-repeat 0 0/contain;
}
.content__right-side .products__list-item:nth-child(2n) .item-icon {
  background: url("../img/products-2.svg") no-repeat 0 0/contain;
}
.content__right-side .products__list-item:nth-child(3n) .item-icon {
  background: url("../img/products-3.svg") no-repeat 0 0/contain;
}
.content__right-side .products__list-item:nth-child(4n) .item-icon {
  background: url("../img/products-4.svg") no-repeat 0 0/contain;
}
.content__right-side .products__list-item:nth-child(5n) .item-icon {
  background: url("../img/products-5.svg") no-repeat 0 0/contain;
}
.content__right-side .products__list-item:nth-child(6n) .item-icon {
  background: url("../img/products-6.svg") no-repeat 0 0/contain;
}
.content__right-side .devices__list-item:nth-child(1) .item-icon:before {
  background: url("../img/device-1@2x.png") no-repeat 0 0/contain;
  width: 35px;
  height: 19px;
}
.content__right-side .devices__list-item:nth-child(2) .item-icon:before {
  background: url("../img/device-2@2x.png") no-repeat 0 0/contain;
  width: 23px;
  height: 27px;
}
.content__right-side .devices__list-item:nth-child(3) .item-icon:before {
  background: url("../img/device-3@2x.png") no-repeat 0 0/contain;
  width: 22px;
  height: 22px;
}
.content__right-side .support__list-item .item-icon:before {
  width: 24px;
  height: 24px;
}
.content__right-side .support__list-item:nth-child(1) .item-icon:before {
  background: url("../img/support-1.svg") no-repeat 0 0/contain;
}
.content__right-side .support__list-item:nth-child(2) .item-icon:before {
  background: url("../img/support-2.svg") no-repeat 0 0/contain;
}
.content__right-side .support__list-item:nth-child(3) .item-icon:before {
  background: url("../img/support-3.svg") no-repeat 0 0/contain;
}
.content__right-side .registration__list-item .item-icon:before {
  width: 27px;
  height: 27px;
}
.content__right-side .registration__list-item:nth-child(1) .item-icon:before {
  background: url("../img/registration-1.svg") no-repeat 0 0/contain;
}
.content__right-side .registration__list-item:nth-child(2) .item-icon:before {
  background: url("../img/registration-2.svg") no-repeat 0 0/contain;
}
.content__right-side .faq__list {
  margin-top: 30px;
}
.content__right-side .faq__list-item {
  background: #FFFFFF;
  list-style: none;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  cursor: pointer;
  margin-bottom: 10px;
}
.content__right-side .faq__list-item summary::-webkit-details-marker {
  display: none;
}
.content__right-side .faq__list-item > summary {
  list-style: none;
}
.content__right-side .faq__list-item[open] > summary:before {
  transform: rotate(180deg);
}
.content__right-side .faq__list-item-title {
  font-size: 16px;
  color: #050A0A;
  outline: none;
  position: relative;
  padding: 24px 30px;
  display: flex;
  align-items: center;
  height: 100%;
}
.content__right-side .faq__list-item-title:before {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: 14px 9px;
  background-repeat: no-repeat;
  background-color: #149E4C;
  width: 14px;
  height: 9px;
  display: block;
  position: absolute;
  top: 45%;
  right: 28px;
}
.content__right-side .faq__list-item-text {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  padding: 0 30px 24px;
}

@media screen and (max-width: 1200px) {
  .content-header-reviews__top-wrap {
    padding: 21px 15px 32px;
  }
  .content-header-reviews__bottom-wrap {
    padding: 26px 15px 12px;
  }

  .content {
    padding: 18px 15px 50px;
  }
  .content__right-side .bonuses__list-title li:nth-child(1) {
    width: 31%;
  }
  .content__right-side .bonuses__list-title li:nth-child(2) {
    width: 25.5%;
  }
  .content__right-side .bonuses__list-title li:nth-child(3) {
    width: 15%;
  }
  .content__right-side .about__rate-item {
    margin-right: 50px;
  }
  .content__right-side .slots__list {
    justify-content: flex-start;
  }
  .content__right-side .slots__list-item {
    margin-right: 12px;
  }
  .content__right-side .slots__list-item:last-child {
    margin-right: 0;
  }
  .content__right-side .slots__list-item .img-wrap {
    width: 160px;
    height: 160px;
  }
  .content__right-side .faq__list-item-title {
    padding: 24px 60px 24px 30px;
  }
}
@media screen and (max-width: 1023px) {
  .badges__item {
    padding: 10px 16px 7px;
  }
  .badges .filter-icon:before {
    width: 15px;
    height: 15px;
    margin: -1px 7px 0 0;
  }

  .content-header-reviews__top-wrap {
    padding: 21px 15px 25px;
  }
  .content-header-reviews__top-wrap .head-wrap {
    margin-top: 25px;
  }
  .content-header-reviews__top-wrap .head-wrap__logo {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .content-header-reviews__top-wrap .head-wrap__name {
    margin: 0 15px 0 30px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle {
    flex-wrap: wrap;
    margin-top: 8px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .green-btn {
    padding: 11px 30px 10px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap {
    margin-top: 10px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap .rate {
    order: 2;
    margin: 3px 0 0 15px;
  }
  .content-header-reviews__top-wrap .head-wrap__reputation {
    flex-shrink: 0;
  }
  .content-header-reviews__bottom-wrap {
    padding: 15px 15px 10px;
  }
  .content-header-reviews__bottom-wrap .content-center {
    justify-content: unset;
  }
  .content-header-reviews__bottom-wrap .subheader-wrap {
    width: 100%;
  }
  .content-header-reviews__bottom-wrap .subheader-wrap__label {
    margin-right: 35px;
  }
  .content-header-reviews__bottom-wrap .subheader-wrap__label-icon {
    width: 25px;
    height: 25px;
  }

  .content .content-center {
    flex-direction: column;
  }
  .content__side-menu {
    width: auto;
    margin: 0 -15px;
    border-radius: 0;
    padding: 0;
  }
  .content__side-menu .side-menu__list::-webkit-scrollbar {
    display: none;
  }
  .content__side-menu .side-menu__list {
    display: flex;
    padding: 0 15px;
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: scroll;
    background: transparent;
    border-bottom: 1px solid #ebebeb;
  }
  .content__side-menu .side-menu__list-item {
    border-bottom: 0;
    margin-right: 25px;
    flex-flow: row nowrap;
  }
  .content__side-menu .side-menu__list-item:last-child {
    margin-right: 0;
  }
  .content__side-menu .side-menu__list-item:hover {
    border-bottom: 2px solid #149E4C;
  }
  .content__side-menu .side-menu__list-item a:before {
    margin-right: 12px;
  }
  .content__side-menu .side-menu__list .active {
    border-bottom: 2px solid #149E4C;
  }
  .content__side-menu .casino-info {
    display: none;
  }
  .content__right-side {
    width: 100%;
    margin-top: 15px;
  }
  .content__right-side .about__rate-item {
    text-align: center;
    margin-right: 30px;
  }
  .content__right-side .about__rate-item .circle-progress {
    transform: scale(0.78125) rotate(-90deg);
  }
  .content__right-side .about__rate-item-circle:after {
    font-size: 14px;
  }
  .content__right-side .products__list {
    flex-wrap: wrap;
  }
  .content__right-side .products__list-item {
    margin: 0 20px 20px 0;
  }
  .content__right-side .faq__list-item-title {
    padding: 16px 45px 13px 20px;
    font-size: 15px;
  }
  .content__right-side .faq__list-item-title:before {
    right: 20px;
  }
  .content__right-side .faq__list-item-text {
    padding: 0 20px 30px;
  }
}
@media screen and (max-width: 767px) {
  .content-header-reviews__top-wrap .head-wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  .content-header-reviews__top-wrap .head-wrap__logo {
    width: 90px;
    height: 90px;
  }
  .content-header-reviews__top-wrap .head-wrap__name {
    margin: 0 0 0 22px;
    max-width: 230px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .green-btn {
    display: none;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .badges {
    display: none;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap {
    margin: 0;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap .rate {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap .rate:before {
    display: none;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap .rate .mob-stars {
    display: flex;
    margin-left: 12px;
    margin-top: -1px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap .rate .mob-stars .star {
    mask-image: url("../img/star.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    background: rgba(139, 139, 139, 0.5);
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap .rate .mob-stars .active {
    background: #FFB933;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap {
    margin: 20px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-label {
    display: flex;
    align-items: center;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-label-icon {
    width: 35px;
    height: 35px;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-label .best-mobile {
    background: url("../img/award_best-mobile.svg") no-repeat 0 0/contain;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-label-text {
    margin-left: 7px;
    font-family: Gilroy-Regular, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-btn {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 14px 20px 12px;
  }
  .content-header-reviews__top-wrap .head-wrap__reputation {
    background: none;
    width: unset;
    height: unset;
    padding-left: 0;
  }
  .content-header-reviews__top-wrap .head-wrap__reputation .circle:after {
    font-size: 12px;
  }
  .content-header-reviews__top-wrap .head-wrap__reputation .reputation-text-title {
    display: none;
  }
  .content-header-reviews__top-wrap .head-wrap__reputation .reputation-text p + p {
    margin-top: 0;
  }
  .content-header-reviews__bottom-wrap {
    padding: 20px 15px 0;
  }
  .content-header-reviews__bottom-wrap .content-center {
    flex-wrap: wrap;
  }
  .content-header-reviews__bottom-wrap .mob-badges {
    display: flex;
  }
  .content-header-reviews__bottom-wrap .subheader-wrap {
    margin-top: 22px;
  }
  .content-header-reviews__bottom-wrap .subheader-wrap__label {
    display: none;
  }
  .content-header-reviews__bottom-wrap .subheader-wrap__status .status-text span {
    display: none;
  }

  .content__right-side .bonuses__more,
.content__right-side .about__more,
.content__right-side .characteristics__more,
.content__right-side .slots__more,
.content__right-side .providers__more,
.content__right-side .banking__more {
    margin-bottom: -12px;
    padding-top: 18px;
  }
  .content__right-side .promotions,
.content__right-side .about,
.content__right-side .characteristics,
.content__right-side .vantages,
.content__right-side .bonuses,
.content__right-side .opinion,
.content__right-side .providers,
.content__right-side .banking,
.content__right-side .slots,
.content__right-side .products,
.content__right-side .devices,
.content__right-side .support,
.content__right-side .registration,
.content__right-side .faq {
    padding: 30px 26px;
    border-radius: 2px;
  }
  .content__right-side .about__rate {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .content__right-side .about__rate-item {
    width: 80px;
    margin: 0 8px 15px;
  }
  .content__right-side .about__rate-item:last-child {
    margin-right: 20px;
  }
  .content__right-side .about__rate-item .circle:after {
    font-size: 14px;
  }
  .content__right-side .about__txt {
    font-size: 14px;
    line-height: 20px;
  }
  .content__right-side .about__subtitle {
    margin-top: 10px;
  }
  .content__right-side .about__info-thumbList-item {
    width: 88px;
    height: 88px;
  }
  .content__right-side .promotions__title {
    margin-bottom: 10px;
  }
  .content__right-side .promotions__list {
    flex-direction: column;
  }
  .content__right-side .promotions__list-item {
    background: transparent;
    padding: 12px 0;
  }
  .content__right-side .promotions__list-item:last-child {
    padding-bottom: 0;
  }
  .content__right-side .bonuses__list-title {
    display: none;
  }
  .content__right-side .bonuses .bonuses__list::-webkit-scrollbar {
    display: none;
  }
  .content__right-side .bonuses__list {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
  }
  .content__right-side .bonuses__list-item {
    flex-direction: column;
    border: 1px solid #ebebeb;
    padding: 30px 27px;
    flex: 0 0 293px;
    margin-right: 4px;
  }
  .content__right-side .bonuses__list-item .dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .content__right-side .bonuses__list-item .dice:before {
    width: 41px;
    height: 41px;
    margin: 0 0 17px;
  }
  .content__right-side .bonuses__list-item p {
    width: 100% !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }
  .content__right-side .bonuses__list-item p:last-child {
    margin-bottom: 0;
  }
  .content__right-side .bonuses__list-item p .mob-title {
    display: block;
    font-size: 12px;
    color: #8b8b8b;
    margin-bottom: 3px;
  }
  .content__right-side .bonuses__btn {
    width: 100%;
    margin-top: 10px;
  }
  .content__right-side .bonuses__dots {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .content__right-side .bonuses__dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ebebeb;
    margin: 0 5px;
  }
  .content__right-side .bonuses__dots .active {
    background: #149E4C;
  }
  .content__right-side .bonuses__description {
    display: none;
  }
  .content__right-side .characteristics__title {
    margin-bottom: 25px;
  }
  .content__right-side .characteristics__item {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .content__right-side .characteristics__item-key {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .content__right-side .vantages .wrap {
    flex-direction: column;
    margin-top: 24px;
  }
  .content__right-side .vantages__positive, .content__right-side .vantages__negative {
    width: 100%;
  }
  .content__right-side .vantages__positive .positive-item,
.content__right-side .vantages__positive .negative-item, .content__right-side .vantages__negative .positive-item,
.content__right-side .vantages__negative .negative-item {
    padding: 21px 30px 19px 58px;
  }
  .content__right-side .vantages__positive .positive-item, .content__right-side .vantages__negative .positive-item {
    margin-bottom: 12px;
  }
  .content__right-side .vantages__negative {
    margin-top: 24px;
  }
  .content__right-side .opinion__wrap {
    padding: 26px 18px;
  }
  .content__right-side .providers__title,
.content__right-side .banking__title {
    margin-bottom: 20px;
  }
  .content__right-side .providers__list,
.content__right-side .banking__list {
    margin-right: -10px;
    justify-content: flex-start;
  }
  .content__right-side .providers__list-item,
.content__right-side .banking__list-item {
    width: 293px;
    margin-right: 10px;
    margin-bottom: 12px;
  }
  .content__right-side .banking__list {
    margin-bottom: 20px;
  }
  .content__right-side .slots__list {
    margin-right: -20px;
  }
  .content__right-side .slots__list-item {
    margin-right: 18px;
    margin-bottom: 19px;
  }
  .content__right-side .slots__list-item:last-child {
    margin-right: 18px;
  }
  .content__right-side .slots__list-item .img-wrap {
    width: 136px;
    height: 136px;
  }
  .content__right-side .slots__list-item .subtitle {
    font-size: 12px;
    color: #8b8b8b;
    margin-top: 0;
  }
  .content__right-side .slots__more {
    margin-top: 10px;
  }
  .content__right-side .slots__info .slots__list {
    margin-top: 0;
  }
  .content__right-side .products__list {
    margin-right: -25px;
  }
  .content__right-side .products__list,
.content__right-side .devices__list,
.content__right-side .support__list,
.content__right-side .registration__list {
    margin-bottom: -30px;
  }
  .content__right-side .products__list-item,
.content__right-side .devices__list-item,
.content__right-side .support__list-item,
.content__right-side .registration__list-item {
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
    width: 80px;
    margin-right: 25px;
    text-align: center;
  }
  .content__right-side .products__list-item:nth-child(3n),
.content__right-side .devices__list-item:nth-child(3n),
.content__right-side .support__list-item:nth-child(3n),
.content__right-side .registration__list-item:nth-child(3n) {
    margin-right: 25px;
  }
  .content__right-side .products__list-item .item-icon,
.content__right-side .devices__list-item .item-icon,
.content__right-side .support__list-item .item-icon,
.content__right-side .registration__list-item .item-icon {
    width: 50px;
    height: 50px;
  }
  .content__right-side .devices__list-item,
.content__right-side .support__list-item,
.content__right-side .registration__list-item {
    width: 70px;
    margin-right: 40px;
  }
  .content__right-side .devices__list-item .item-icon,
.content__right-side .support__list-item .item-icon,
.content__right-side .registration__list-item .item-icon {
    background: #f8f8f8;
  }
  .content__right-side .faq__list-item-title {
    font-size: 14px;
    padding: 16px 50px 13px 20px;
  }
}
@media screen and (max-width: 374px) {
  .content-header-reviews__top-wrap .head-wrap__logo {
    width: 70px;
    height: 70px;
  }
  .content-header-reviews__top-wrap .head-wrap__name {
    margin: 0 0 0 15px;
    max-width: 160px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-title {
    font-size: 18px;
    line-height: 20px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap .rate {
    font-size: 12px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap .rate .mob-stars {
    margin-top: -2px;
  }
  .content-header-reviews__top-wrap .head-wrap__name-subtitle .wrap .rate .mob-stars .star {
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap {
    margin: 10px 0 0;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-label-icon {
    width: 25px;
    height: 25px;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-label-text {
    font-size: 12px;
  }
  .content-header-reviews__top-wrap .head-wrap .rep-wrap .mob-btn {
    margin-top: 10px;
  }
  .content-header-reviews__top-wrap .head-wrap__reputation .circle-progress {
    transform: scale(0.78125) rotate(-90deg);
  }
  .content-header-reviews__top-wrap .head-wrap__reputation .reputation-text {
    margin-left: 5px;
  }
  .content-header-reviews__top-wrap .head-wrap__reputation .reputation-text p + p {
    font-size: 12px;
  }
  .content-header-reviews__bottom-wrap .subheader-wrap__status .status-text {
    font-size: 12px;
  }
  .content-header-reviews__bottom-wrap .subheader-wrap__update {
    font-size: 12px;
  }

  .content__right-side .bonuses__more,
.content__right-side .about__more,
.content__right-side .characteristics__more,
.content__right-side .slots__more,
.content__right-side .providers__more,
.content__right-side .banking__more {
    margin-bottom: -6px;
  }
  .content__right-side .promotions,
.content__right-side .about,
.content__right-side .characteristics,
.content__right-side .vantages,
.content__right-side .bonuses,
.content__right-side .opinion,
.content__right-side .providers,
.content__right-side .banking,
.content__right-side .slots,
.content__right-side .products,
.content__right-side .devices,
.content__right-side .support,
.content__right-side .registration,
.content__right-side .faq {
    padding: 20px;
  }
  .content__right-side .bonuses__list-item {
    flex: 0 0 239px;
  }
  .content__right-side .slots__list-item .img-wrap {
    width: 115px;
    height: 115px;
  }
}

/*# sourceMappingURL=main.css.map */
