@media screen and (max-width: 1200px)
  .content-header-reviews
    &__top-wrap
      padding: 21px 15px 32px
    &__bottom-wrap
      padding: 26px 15px 12px
  .content
    padding: 18px 15px 50px
    &__right-side
      .bonuses
        &__list
          &-title
            li
              &:nth-child(1)
                width: 31%
              &:nth-child(2)
                width: 25.5%
              &:nth-child(3)
                width: 15%
      .about
        &__rate
          &-item
            margin-right: 50px
      .slots
        &__list
          justify-content: flex-start
          &-item
            margin-right: 12px
            &:last-child
              margin-right: 0
            .img-wrap
              width: 160px
              height: 160px
      .faq
        &__list
          &-item
            &-title
              padding: 24px 60px 24px 30px

@media screen and (max-width: 1023px)
  .badges
    &__item
      padding: 10px 16px 7px
    .filter-icon
      &:before
        width: 15px
        height: 15px
        margin: -1px 7px 0 0
  .content-header-reviews
    &__top-wrap
      padding: 21px 15px 25px
      .head-wrap
        margin-top: 25px
        &__logo
          width: 120px
          height: 120px
          flex-shrink: 0
          margin-bottom: 0
        &__name
          margin: 0 15px 0 30px
          &-subtitle
            flex-wrap: wrap
            margin-top: 8px
            .green-btn
              padding: 11px 30px 10px
            .wrap
              margin-top: 10px
              .rate
                order: 2
                margin: 3px 0 0 15px
        &__reputation
          flex-shrink: 0
    &__bottom-wrap
      padding: 15px 15px 10px
      .content-center
        justify-content: unset
      .subheader-wrap
        width: 100%
        &__label
          margin-right: 35px
          &-icon
            width: 25px
            height: 25px
  .content
    .content-center
      flex-direction: column
    &__side-menu
      width: auto
      margin: 0 -15px
      border-radius: 0
      padding: 0
      .side-menu__list::-webkit-scrollbar
        display: none
      .side-menu__list
        display: flex
        padding: 0 15px
        width: 100vw
        flex-flow: row nowrap
        justify-content: flex-start
        overflow: scroll
        background: transparent
        border-bottom: 1px solid $gray-light
        &-item
          border-bottom: 0
          margin-right: 25px
          flex-flow: row nowrap
          &:last-child
            margin-right: 0
          &:hover
            border-bottom: 2px solid $green-default
          a
            &:before
              margin-right: 12px
        .active
          border-bottom: 2px solid $green-default
      .casino-info
        display: none
    &__right-side
      width: 100%
      margin-top: 15px
      .about
        &__rate
          &-item
            text-align: center
            margin-right: 30px
            .circle-progress
              transform: scale(0.78125) rotate(-90deg)
            &-circle
              &:after
                font-size: 14px
      .products
        &__list
          flex-wrap: wrap
          &-item
            margin: 0 20px 20px 0
      .faq
        &__list
          &-item
            &-title
              padding: 16px 45px 13px 20px
              font-size: 15px
              &:before
                right: 20px
            &-text
              padding: 0 20px 30px

@media screen and (max-width: 767px)
  .content-header-reviews
    &__top-wrap
      .head-wrap
        flex-wrap: wrap
        justify-content: flex-start
        align-items: center
        margin-top: 20px
        &__logo
          width: 90px
          height: 90px
        &__name
          margin: 0 0 0 22px
          max-width: 230px
          &-subtitle
            .green-btn
              display: none
            .badges
              display: none
            .wrap
              margin: 0
              .rate
                margin: 0
                display: flex
                align-items: center
                &:before
                  display: none
                .mob-stars
                  display: flex
                  margin-left: 12px
                  margin-top: -1px
                  .star
                    mask-image: url("../img/star.svg")
                    mask-repeat: no-repeat
                    mask-size: contain
                    background: rgba($gray-semi,.5)
                    width: 15px
                    height: 15px
                    margin-right: 5px
                  .active
                    background: #FFB933
        .rep-wrap
          margin: 20px 0 0
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          flex-wrap: wrap
          .mob-label
            display: flex
            align-items: center
            &-icon
              width: 35px
              height: 35px
            .best-mobile
              background: url("../img/award_best-mobile.svg") no-repeat 0 0/contain
            &-text
              margin-left: 7px
              font-family: $font-gilroy-regular
              font-size: 14px
              line-height: 20px
              color: $gray-semi
          .mob-btn
            display: block
            width: 100%
            margin-top: 15px
            padding: 14px 20px 12px
        &__reputation
          background: none
          width: unset
          height: unset
          padding-left: 0
          .circle
            &:after
              font-size: 12px
          .reputation-text
            &-title
              display: none
            p+p
              margin-top: 0
    &__bottom-wrap
      padding: 20px 15px 0
      .content-center
        flex-wrap: wrap
      .mob-badges
        display: flex
      .subheader-wrap
        margin-top: 22px
        &__label
          display: none
        &__status
          .status-text
            span
              display: none
  .content
    &__right-side
      .bonuses__more,
      .about__more,
      .characteristics__more,
      .slots__more,
      .providers__more,
      .banking__more
        margin-bottom: -12px
        padding-top: 18px
      .promotions,
      .about,
      .characteristics,
      .vantages,
      .bonuses,
      .opinion,
      .providers,
      .banking,
      .slots,
      .products,
      .devices,
      .support,
      .registration,
      .faq
        padding: 30px 26px
        border-radius: 2px
      .about
        &__rate
          flex-wrap: wrap
          margin-top: 20px
          &-item
            width: 80px
            margin: 0 8px 15px
            &:last-child
              margin-right: 20px
            .circle
              &:after
                font-size: 14px
        &__txt
          font-size: 14px
          line-height: 20px
        &__subtitle
          margin-top: 10px
        &__info-thumbList
          &-item
            width: 88px
            height: 88px
      .promotions
        &__title
          margin-bottom: 10px
        &__list
          flex-direction: column
          &-item
            background: transparent
            padding: 12px 0
            &:last-child
              padding-bottom: 0
      .bonuses
        &__list-title
          display: none
        .bonuses__list::-webkit-scrollbar
          display: none
        &__list
          display: flex
          flex-flow: row nowrap
          overflow: scroll
          &-item
            flex-direction: column
            border: 1px solid $gray-light
            padding: 30px 27px
            flex: 0 0 293px
            margin-right: 4px
            .dice
              display: flex
              flex-direction: column
              align-items: center
              text-align: center
              font-size: 18px
              margin-bottom: 15px
              &:before
                width: 41px
                height: 41px
                margin: 0 0 17px
            p
              width: 100% !important
              text-align: center
              display: flex
              flex-direction: column
              margin-bottom: 18px
              &:last-child
                margin-bottom: 0
              .mob-title
                display: block
                font-size: 12px
                color: $gray-semi
                margin-bottom: 3px
        &__btn
          width: 100%
          margin-top: 10px
        &__dots
          display: flex
          justify-content: center
          margin-top: 25px
          .dot
            width: 6px
            height: 6px
            border-radius: 50%
            background: $gray-light
            margin: 0 5px
          .active
            background: $green-default
        &__description
          display: none
      .characteristics
        &__title
          margin-bottom: 25px
        &__item
          flex-direction: column
          margin-bottom: 25px
          &-key
            font-size: 12px
            margin-bottom: 5px
      .vantages
        .wrap
          flex-direction: column
          margin-top: 24px
        &__positive,
        &__negative
          width: 100%
          .positive-item,
          .negative-item
            padding: 21px 30px 19px 58px
          .positive-item
            margin-bottom: 12px
        &__negative
          margin-top: 24px
      .opinion
        &__wrap
          padding: 26px 18px
      .providers,
      .banking
        &__title
          margin-bottom: 20px
        &__list
          margin-right: -10px
          justify-content: flex-start
          &-item
            width: 293px
            margin-right: 10px
            margin-bottom: 12px
      .banking
        &__list
          margin-bottom: 20px
      .slots
        &__list
          margin-right: -20px
          &-item
            margin-right: 18px
            margin-bottom: 19px
            &:last-child
              margin-right: 18px
            .img-wrap
              width: 136px
              height: 136px
            .subtitle
              font-size: 12px
              color: $gray-semi
              margin-top: 0
        &__more
          margin-top: 10px
        &__info
          .slots__list
            margin-top: 0
      .products
        &__list
          margin-right: -25px
      .products,
      .devices,
      .support,
      .registration
        &__list
          margin-bottom: -30px
          &-item
            background: transparent
            padding: 0
            margin-bottom: 30px
            width: 80px
            margin-right: 25px
            text-align: center
            &:nth-child(3n)
              margin-right: 25px
            .item-icon
              width: 50px
              height: 50px
      .devices,
      .support,
      .registration
        &__list
          &-item
            width: 70px
            margin-right: 40px
            .item-icon
              background: $light
      .faq
        &__list
          &-item
            &-title
              font-size: 14px
              padding: 16px 50px 13px 20px

@media screen and (max-width: 374px)
  .content-header-reviews
    &__top-wrap
      .head-wrap
        &__logo
          width: 70px
          height: 70px
        &__name
          margin: 0 0 0 15px
          max-width: 160px
          &-title
            font-size: 18px
            line-height: 20px
          &-subtitle
            .wrap
              .rate
                font-size: 12px
                .mob-stars
                  margin-top: -2px
                  .star
                    width: 12px
                    height: 12px
                    margin-right: 4px
        .rep-wrap
          margin: 10px 0 0
          .mob-label
            &-icon
              width: 25px
              height: 25px
            &-text
              font-size: 12px
          .mob-btn
            margin-top: 10px
        &__reputation
          .circle-progress
            transform: scale(0.78125) rotate(-90deg)
          .reputation-text
            margin-left: 5px
            p+p
              font-size: 12px
    &__bottom-wrap
      .subheader-wrap
        &__status
          .status-text
            font-size: 12px
        &__update
          font-size: 12px
  .content
    &__right-side
      .bonuses__more,
      .about__more,
      .characteristics__more,
      .slots__more,
      .providers__more,
      .banking__more
        margin-bottom: -6px
      .promotions,
      .about,
      .characteristics,
      .vantages,
      .bonuses,
      .opinion,
      .providers,
      .banking,
      .slots,
      .products,
      .devices,
      .support,
      .registration,
      .faq
        padding: 20px
      .bonuses
        &__list
          &-item
            flex: 0 0 239px
      .slots
        &__list
          &-item
            .img-wrap
              width: 115px
              height: 115px