$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$light-green: #F0F9F4
$white: #FFFFFF

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .4s linear
  display: inline-block
  border-radius: 2px
  text-align: center

.box-shadow
  background: $white
  box-shadow: 0 4px 20px rgba(8,40,41,.05)

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.border-btn
  color: $green-default
  border: 1px solid $gray-light
  &:hover
    border-color: $green-default

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.rate
  font-size: 14px
  color: $gray-semi
  &:before
    content: ""
    background: url("../img/star.svg") no-repeat 0 0/contain
    width: 16px
    height: 16px
    display: inline-block
    vertical-align: top
    margin: -1px 8px 0 0

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.badges
  display: flex
  &__item
    font-size: 14px
    color: $gray-semi
    border: 1px solid #E9E9E9
    border-radius: 100px
    padding: 12px 16px 9px
    margin-right: 11px
    background: $white
    &:last-child
      margin-right: 0
    &:hover
      background: #F7FBF9
  .filter-icon
    &:before
      content: ""
      width: 20px
      height: 20px
      display: inline-block
      vertical-align: top
      margin: -3px 10px 0 0
  .filter-new
    &:before
      background: url("../img/new-icon.png") no-repeat 0 0/contain

.circle
  display: block
  height: 64px
  width: 64px
  border-radius: 100%
  position: relative
  &:after
    content: attr(data-pct)
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    font-weight: 600
    color: $green-default
    padding-top: 4px
  &.--high
    &:after
      color: $green-default
    .circle-progress__bar
      stroke: $green-default
  &.--mid
    &:after
      color: #FF7D04
    .circle-progress__bar
      stroke: #FF7D04
  &.--low
    &:after
      color: #E30909
    .circle-progress__bar
      stroke: #E30909
  .circle-progress
    transform: rotate(-90deg)
    circle
      stroke-width: 4px

.content-header-reviews
  &__top-wrap
    background: $white
    padding: 21px 0 32px
    .breadcrumbs
      li
        display: inline-block
        margin-right: 10px
        font-size: 12px
        color: $gray-semi
        &:last-child
          &:after
            display: none
        &:after
          content: ''
          background: $gray-semi
          width: 15px
          height: 1px
          display: inline-block
          vertical-align: top
          margin: 5px 0 0 10px
        a
          color: $gray-semi
          &:hover
            text-decoration: underline
    .head-wrap
      margin-top: 23px
      display: flex
      justify-content: space-between
      align-items: flex-end
      &__logo
        width: 161px
        height: 161px
        margin-bottom: -74px
        img
          width: 100%
      &__name
        margin-top: 4px
        margin-left: 37px
        &-title
          font-size: 20px
          color: $dark
          font-family: $font-gilroy-medium
        &-subtitle
          margin-top: 13px
          display: flex
          align-items: center
          .green-btn
            margin-right: 24px
            padding: 13px 35px 12px
          .wrap
            display: flex
            align-items: center
          .rate
            margin-right: 24px
            margin-top: 3px
            .mob-stars
              display: none
      .rep-wrap
        margin-left: auto
        .mob-label,
        .mob-btn
          display: none
      &__reputation
        background: url("../img/reputation-bg.svg") no-repeat 0 0/contain
        width: 168px
        height: 88px
        display: flex
        align-items: center
        z-index: 1
        padding-left: 12px
        .circle
          width: 36px
          height: 36px
          &:after
            font-size: 14px
            padding-top: 3px
          .circle-progress
            circle
              stroke-width: 2px
        .reputation-text
          margin-left: 15px
          &-title
            font-size: 18px
            color: $green-default
          p+p
            margin-top: 4px
            font-size: 14px
            color: #687576
  &__bottom-wrap
    padding: 26px 0 12px
    background: $light
    .content-center
      display: flex
      justify-content: flex-end
    .mob-badges
      display: none
    .subheader-wrap
      width: 83%
      display: flex
      align-items: center
      justify-content: space-between
      &__status
        display: flex
        align-items: center
        .status-icon
          width: 20px
          height: 20px
          margin-right: 10px
        .status-ok
          background: url("../img/country-in.svg") no-repeat 0 0/contain
        .status-text
          font-size: 14px
          color: $gray-semi
          font-family: $font-gilroy-regular
          margin-top: 1px
      &__label
        margin-left: auto
        margin-right: 45px
        display: flex
        align-items: center
        &-icon
          width: 35px
          height: 35px
        .best-mobile
          background: url("../img/award_best-mobile.svg") no-repeat 0 0/contain
        &-text
          margin-left: 7px
          font-family: $font-gilroy-regular
          font-size: 14px
          line-height: 20px
          color: $gray-semi
      &__update
        font-size: 14px
        color: $gray-semi
        font-family: $font-gilroy-regular
        margin-top: 1px

.content
  padding: 18px 0 50px
  background: $light
  .inner-title
    font-size: 20px
    color: $dark
    margin-bottom: 21px
    letter-spacing: -0.015em
  .content-center
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__side-menu
    width: 24%
    background: $white
    box-shadow: 0 4px 20px rgba(8,40,41,.05)
    border-radius: 6px
    padding: 0 20px 20px
    .side-menu__list
      &-item
        border-bottom: 1px solid $gray-light
        a
          font-size: 14px
          color: $dark
          display: flex
          padding: 20px 0 17px
          position: relative
          outline: none
          width: max-content
          &:before
            content: ''
            mask-repeat: no-repeat
            mask-size: cover
            background-color: #BFBFBF
            display: inline-block
            vertical-align: text-top
            margin-right: 15px
          &:hover
            color: $green-default
            &:before
              background-color: $green-default
      .active
        a
          color: $green-default
          &:before
            background-color: $green-default
      .item-1
        a
          &:before
            mask-image: url("../img/aside-icon-1.svg")
            width: 16px
            height: 13px
      .item-2
        a
          &:before
            mask-image: url("../img/aside-icon-2.svg")
            width: 14px
            height: 15px
      .item-3
        a
          &:before
            mask-image: url("../img/aside-icon-3.svg")
            width: 15px
            height: 12px
            margin-top: 1px
      .item-4
        a
          &:before
            mask-image: url("../img/aside-icon-4.svg")
            width: 15px
            height: 15px
      .item-5
        a
          &:before
            mask-image: url("../img/aside-icon-5.svg")
            width: 13px
            height: 15px
      .item-6
        a
          &:before
            mask-image: url("../img/aside-icon-6.svg")
            width: 15px
            height: 14px
      .item-7
        a
          &:before
            mask-image: url("../img/aside-icon-7.svg")
            width: 14px
            height: 14px
            margin-top: 0
    .casino-info
      margin-top: 27px
      display: flex
      flex-wrap: wrap
      &__img
        width: 38px
        height: 38px
        border-radius: 50%
        overflow: hidden
      &__name
        margin-left: 15px
        .name
          font-size: 14px
          color: $dark
        .rate
          margin-top: 6px
          font-size: 12px
          &:before
            margin-top: -2px
      &__btn
        width: 100%
        margin-top: 20px
        padding: 12px 0 9px
  &__right-side
    width: 74.5%
    .bonuses__more,
    .about__more,
    .characteristics__more,
    .slots__more,
    .providers__more,
    .banking__more
      margin: 28px -30px 0
      display: flex
      justify-content: space-between
      border-top: 1px solid $gray-light
      padding: 28px 30px 0
      .show-all
        font-size: 14px
        color: $green-default
        cursor: pointer
        &:before
          content: ''
          mask-image: url("../img/arrow-down.svg")
          mask-size: contain
          mask-repeat: no-repeat
          background-color: $green-default
          width: 14px
          height: 9px
          display: inline-block
          vertical-align: top
          margin: 3px 12px 0 0
    .promotions,
    .about,
    .characteristics,
    .vantages,
    .bonuses,
    .opinion,
    .providers,
    .banking,
    .slots,
    .products,
    .devices,
    .support,
    .registration,
    .faq
      background: $white
      box-shadow: 0 4px 20px rgba(8,40,41,.05)
      border-radius: 6px
      padding: 30px 30px 30px
      margin-bottom: 20px
      &__info
        display: none
      .toggle-list
        display: block
      .toggle-arrow
        &:before
          transform: rotate(180deg)
    .promotions
      &__title
        margin-bottom: 38px
      &__list
        display: flex
        justify-content: flex-start
        &-item
          margin-right: 20px
          display: flex
          align-items: center
          background: $light
          border-radius: 6px
          padding: 12px 16px
          width: 288px
          &:last-child
            margin-right: 0
          &:nth-child(1n)
            .promotions__list-item-icon
              background: url("../img/current-promo-icon-1.svg") no-repeat 0 0/contain
              width: 50px
              height: 50px
              flex-shrink: 0
              margin-right: 20px
          &:nth-child(2n)
            .promotions__list-item-icon
              background: url("../img/current-promo-icon-2.svg") no-repeat 0 0/contain
          &-text
            p
              font-size: 16px
              color: $dark
              margin-bottom: 6px
              letter-spacing: -0.015em
            span
              display: block
              font-size: 14px
              color: $gray-semi
    .bonuses
      &__list-title
        display: flex
        margin-top: 34px
        li
          font-size: 12px
          text-transform: uppercase
          color: $gray-semi
          &:nth-child(1)
            width: 31.4%
          &:nth-child(2)
            width: 26.5%
          &:nth-child(3)
            width: 15.5%
          &:nth-child(4)
            width: 10%
      &__list
        margin-top: 15px
        &-item
          padding: 21px 0
          display: flex
          border-bottom: 1px solid $gray-light
          justify-content: space-between
          align-items: center
          .dice
            &:before
              content: ""
              width: 24px
              height: 24px
              display: inline-block
              vertical-align: top
              margin: -3px 12px 0 0
          &:nth-child(1)
            .dice
              &:before
                background: url("../img/dice-1.svg") no-repeat 0 0/contain
          &:nth-child(2)
            .dice
              &:before
                background: url("../img/dice-2.svg") no-repeat 0 0/contain
          &:nth-child(3)
            .dice
              &:before
                background: url("../img/dice-3.svg") no-repeat 0 0/contain
          p
            font-size: 14px
            line-height: 20px
            color: $dark
            &:nth-child(1)
              width: 27%
            &:nth-child(2)
              width: 22%
            &:nth-child(3)
              width: 11%
            &:nth-child(4)
              width: 10%
            .mob-title
              display: none
      &__btn
        padding: 13px 21px 11px
      &__dots
        display: none
      &__description
        font-size: 14px
        line-height: 20px
        font-family: $font-gilroy-regular
        color: $gray-semi
        margin-top: 31px
      &__info
        &-title
          margin-bottom: 12px
          &:first-of-type
            margin-top: 50px
        &-txt
          font-family: $font-gilroy-regular
          font-size: 14px
          line-height: 20px
          color: $gray-semi
          margin-bottom: 20px
        &-list
          margin-top: 35px
          display: flex
          flex-wrap: wrap
          &-item
            font-size: 14px
            line-height: 20px
            color: $dark
            width: 270px
            margin-right: 15px
            margin-bottom: 35px
            position: relative
            padding-left: 45px
            &:before
              content: ""
              width: 36px
              height: 36px
              background: rgba($green-default,.1)
              border-radius: 50%
              display: flex
              justify-content: center
              align-items: center
              position: absolute
              top: -7px
              left: 0
        .number-list
          .bonuses__info-list-item
            &:before
              font-size: 16px
              color: $green-default
            &:nth-child(1)
              &:before
                content: "1"
            &:nth-child(2)
              &:before
                content: "2"
            &:nth-child(3)
              &:before
                content: "3"
            &:nth-child(4)
              &:before
                content: "4"
        .marked-list
          .bonuses__info-list-item
            list-style-image: url("../img/check-icon.svg")
            margin-left: 33px
            padding-left: 15px
            &:before
              left: -32px
    .about
      &__rate
        margin-top: 31px
        display: flex
        &-item
          display: flex
          flex-direction: column
          align-items: center
          margin-right: 70px
          &:last-child
            margin-right: 0
          &-txt
            font-size: 14px
            color: $gray-semi
            margin-top: 12px
      &__subtitle
        font-size: 18px
        color: $dark
        margin-top: 30px
      &__txt
        margin-top: 13px
        font-size: 16px
        line-height: 22px
        font-family: $font-gilroy-regular
        color: $gray-semi
      &__info
        &-big-img
          margin-top: 30px
        &-thumbList
          margin-top: 19px
          display: flex
          flex-wrap: wrap
          &-img
            border-radius: 2px
            overflow: hidden
          &-item
            width: 100px
            height: 100px
            margin-right: 12px
            border-radius: 2px
            overflow: hidden
            &:last-child
              margin-right: 0
    .characteristics
      padding-bottom: 30px
      &__title
        margin-bottom: 40px
      &__item
        display: flex
        font-size: 14px
        margin-bottom: 40px
        &-key
          min-width: 31%
          color: rgba(16,16,16,.5)
        &-value
          color: $dark
        a
          color: $dark
          &:hover
            text-decoration: underline
      &__more
        margin-top: 15px
    .vantages
      .wrap
        display: flex
        justify-content: space-between
        margin-top: 29px
      &__positive,
      &__negative
        width: 48.3%
        .positive-item,
        .negative-item
          font-size: 14px
          line-height: 16px
          color: $gray-semi
          margin-bottom: 10px
          &:last-child
            margin-bottom: 0
          position: relative
          padding: 23px 30px 21px 58px
          background: $light
          border-radius: 6px
          display: flex
          align-items: center
          &:before
            content: '+'
            font-size: 20px
            line-height: initial
            color: $green-default
            width: 23px
            height: 22px
            border-radius: 50%
            background: rgba(#62AC39,0.16)
            display: flex
            justify-content: center
            position: absolute
            left: 20px
            padding-top: 1px
        .negative-item
          &:before
            content: '-'
            color: #E30909
            background: rgba(#E30909,0.12)
    .opinion
      &__wrap
        background: $light
        padding: 30px
      &__author
        display: flex
        align-items: center
        &-img
          width: 45px
          height: 45px
          border-radius: 50%
          overflow: hidden
        &-txt
          margin-left: 16px
          &-name
            font-size: 16px
            color: $dark
          &-sub
            font-size: 14px
            color: $gray-semi
            margin-top: 4px
      &__txt
        margin-top: 16px
        font-family: $font-gilroy-regular
        font-size: 14px
        line-height: 20px
        color: $dark
    .providers,
    .banking
      &__title
        margin-bottom: 30px
      &__list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &-item
          width: 31.8%
          margin-bottom: 20px
          border: 1px solid $gray-light
          padding: 14px 20px
          display: flex
          align-items: center
          border-radius: 2px
          .img-wrap
            width: 40px
            height: 40px
            border-radius: 50%
            overflow: hidden
            margin-right: 15px
            img
              width: 100%
          p
            font-size: 14px
            font-family: $font-gilroy-regular
            color: $dark
    .providers
      padding-bottom: 30px
      &__more
        margin-top: 10px
    .banking
      &__subtitle
        font-size: 14px
        color: $gray-semi
        margin-bottom: 20px
      &__list
        margin-bottom: 30px
      &__more
        margin-top: 0
    .slots
      padding-bottom: 27px
      &__list
        margin-top: 30px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &-item
          position: relative
          &:hover
            .title
              color: $green-default
          .img-wrap
            width: 178px
            height: 178px
            border-radius: 4px
          .title
            margin-top: 13px
            font-size: 16px
            color: $dark
            letter-spacing: 0.02em
          .subtitle
            margin-top: 3px
            font-family: $font-gilroy-regular
            font-size: 14px
            color: $dark
      &__more
        margin-top: 30px
    .products,
    .devices,
    .support,
    .registration
      &__list
        margin-top: 24px
        display: flex
        &-item
          width: 110px
          display: flex
          flex-direction: column
          align-items: center
          padding: 16px 10px
          background: $light
          border-radius: 6px
          margin-right: 20px
          &:last-child
            margin-right: 0
          p
            font-size: 14px
            color: $dark
    .devices,
    .support,
    .registration
      &__list
        &-item
          .item-icon
            width: 50px
            height: 50px
            border-radius: 50%
            background: $white
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 20px
            &:before
              content: ""
    .products
      &__list
        &-item
          .item-icon
            width: 60px
            height: 60px
            margin-bottom: 18px
          &:nth-child(1n)
            .item-icon
              background: url("../img/products-1.svg") no-repeat 0 0/contain
          &:nth-child(2n)
            .item-icon
              background: url("../img/products-2.svg") no-repeat 0 0/contain
          &:nth-child(3n)
            .item-icon
              background: url("../img/products-3.svg") no-repeat 0 0/contain
          &:nth-child(4n)
            .item-icon
              background: url("../img/products-4.svg") no-repeat 0 0/contain
          &:nth-child(5n)
            .item-icon
              background: url("../img/products-5.svg") no-repeat 0 0/contain
          &:nth-child(6n)
            .item-icon
              background: url("../img/products-6.svg") no-repeat 0 0/contain
    .devices
      &__list
        &-item
          &:nth-child(1)
            .item-icon
              &:before
                background: url("../img/device-1@2x.png") no-repeat 0 0/contain
                width: 35px
                height: 19px
          &:nth-child(2)
            .item-icon
              &:before
                background: url("../img/device-2@2x.png") no-repeat 0 0/contain
                width: 23px
                height: 27px
          &:nth-child(3)
            .item-icon
              &:before
                background: url("../img/device-3@2x.png") no-repeat 0 0/contain
                width: 22px
                height: 22px
    .support
      &__list
        &-item
          .item-icon
            &:before
              width: 24px
              height: 24px
          &:nth-child(1)
            .item-icon
              &:before
                background: url("../img/support-1.svg") no-repeat 0 0/contain
          &:nth-child(2)
            .item-icon
              &:before
                background: url("../img/support-2.svg") no-repeat 0 0/contain
          &:nth-child(3)
            .item-icon
              &:before
                background: url("../img/support-3.svg") no-repeat 0 0/contain
    .registration
      &__list
        &-item
          .item-icon
            &:before
              width: 27px
              height: 27px
          &:nth-child(1)
            .item-icon
              &:before
                background: url("../img/registration-1.svg") no-repeat 0 0/contain
          &:nth-child(2)
            .item-icon
              &:before
                background: url("../img/registration-2.svg") no-repeat 0 0/contain
    .faq
      &__list
        margin-top: 30px
        &-item
          background: $white
          list-style: none
          border-radius: 3px
          border: 1px solid $gray-light
          cursor: pointer
          margin-bottom: 10px
          summary::-webkit-details-marker
            display: none
          > summary
            list-style: none
          &[open]
            > summary:before
              transform: rotate(180deg)
          &-title
            font-size: 16px
            color: $dark
            outline: none
            position: relative
            padding: 24px 30px
            display: flex
            align-items: center
            height: 100%
            &:before
              content: ""
              mask-image: url("../img/arrow-down.svg")
              mask-size: 14px 9px
              background-repeat: no-repeat
              background-color: $green-default
              width: 14px
              height: 9px
              display: block
              position: absolute
              top: 45%
              right: 28px
          &-text
            font-family: $font-gilroy-regular
            font-size: 14px
            line-height: 20px
            color: $gray-semi
            padding: 0 30px 24px