.content-header-reviews
  .content-header-reviews__top-wrap
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li
          a(href="#") Reviews
        li Parimatch
      .head-wrap
        .head-wrap__logo
          img(src="img/review_company-logo.png" alt="Parimatch")
        .head-wrap__name
          h1.head-wrap__name-title Parimarch Casino
          .head-wrap__name-subtitle
            a(href="#").btn.green-btn Play Now
            .wrap
              .rate 9.25 / 10
                .mob-stars
                  .star.active
                  .star.active
                  .star.active
                  .star.active
                  .star
              ul.badges
                li.badges__item.border-btn.filter-icon.filter-new New
                li.badges__item.border-btn Without Deposit
        .rep-wrap
          .mob-label
            .mob-label-icon.best-mobile
            .mob-label-text Best Mobile Casino
          .head-wrap__reputation
            .circle.--high(data-pct='9.2')
              svg.circle-progress(width='36' height='36' viewport='0 0 18 18')
                circle.circle-progress__bar(stroke-dashoffset='95' r='16' cx='18' cy='18' fill='transparent' stroke-dasharray='188' stroke-linecap='round')
            .reputation-text
              p.reputation-text-title Perfect
              p Reputation
          a(href="#").btn.green-btn.mob-btn Play Now
  .content-header-reviews__bottom-wrap
    .content-center
      ul.badges.mob-badges
        li.badges__item.border-btn.filter-icon.filter-new New
        li.badges__item.border-btn Without Deposit
      .subheader-wrap
        .subheader-wrap__status
          .status-icon.status-ok
          .status-text #[span Players from] India are accepted
        .subheader-wrap__label
          .subheader-wrap__label-icon.best-mobile
          .subheader-wrap__label-text Best Mobile Casino
        .subheader-wrap__update Last updated 13.06.2020
.content
  .content-center
    aside.content__side-menu
      ul.side-menu__list
        li.side-menu__list-item.item-1.active
          a(href="#") Bonuses
        li.side-menu__list-item.item-2
          a(href="#") About
        li.side-menu__list-item.item-3
          a(href="#") Overview
        li.side-menu__list-item.item-4
          a(href="#") Suppliers
        li.side-menu__list-item.item-5
          a(href="#") Licenses
        li.side-menu__list-item.item-6
          a(href="#") Bank
        li.side-menu__list-item.item-7
          a(href="#") Support
      .casino-info
        .casino-info__img
          img(src="img/review_company-logo.png" alt="")
        .casino-info__name
          .name Parimatch
          .rate 9.25 / 10
        a(href="#").casino-info__btn.btn.green-btn Play now
    .content__right-side
      .promotions
        h2.inner-title.promotions__title Parimatch Current Promotions
        .promotions__list
          .promotions__list-item
            .promotions__list-item-icon
            .promotions__list-item-text
              p 100% up to 400$
              span 1st Deposit Bonus
          .promotions__list-item
            .promotions__list-item-icon
            .promotions__list-item-text
              p +250 Spins
              span 1st Deposit Bonus
      .bonuses
        h2.inner-title.bonuses__title Bonuses Parimatch Casino
        ul.bonuses__list-title
          li type
          li Amount
          li Match
          li playground
        ul.bonuses__list
          li.bonuses__list-item
            p.dice First Deposit
            p
              span.mob-title Amount
              span €300 + 30 Free Spins
            p
              span.mob-title Match
              span 100%
            p
              span.mob-title Playthrough
              span 35x
            a(href="#").btn.green-btn.bonuses__btn Play now
          li.bonuses__list-item
            p.dice Second Deposit
            p
              span.mob-title Amount
              span €300 + 30 Free Spins
            p
              span.mob-title Match
              span 100%
            p
              span.mob-title Playthrough
              span 35x
            a(href="#").btn.green-btn.bonuses__btn Play now
          li.bonuses__list-item
            p.dice Third Deposit Bonus
            p
              span.mob-title Amount
              span €300 + 30 Free Spins
            p
              span.mob-title Match
              span 100%
            p
              span.mob-title Playthrough
              span 35x
            a(href="#").btn.green-btn.bonuses__btn Play now
        .bonuses__dots
          .dot.active
          .dot
          .dot
        p.bonuses__description.
          Terms & Conditions Apply. New Players Aged 18+. Please
          Gamble Responsibly.
        .bonuses__info
          .bonuses__info-title.inner-title How to get a bonuses?
          .bonuses__info-txt.
            In the online gambling industry, there are few payment
            options that are as well-reputed and widely used as Skrill.
            With that said, this e-wallet, formerly known as Moneybookers,
            has long been established as a quick, convenient and safe
            method to transfer money to and from online casinos.
          .bonuses__info-txt.
            And fortunately you now no longer need to go on the hunt to
            find information about it and find the best Skrill Online
            Casinos to play at, here they are below!
          ul.bonuses__info-list.number-list
            li.bonuses__info-list-item Wide variety of slots games
            li.bonuses__info-list-item Sports betting
            li.bonuses__info-list-item 50+ Live Dealer games
            li.bonuses__info-list-item Great on mobile
          .bonuses__info-title.inner-title How to get a bonuses?
          .bonuses__info-txt.
            In the online gambling industry, there are few payment
            options that are as well-reputed and widely used as Skrill.
            With that said, this e-wallet, formerly known as Moneybookers,
            has long been established as a quick, convenient and safe
            method to transfer money to and from online casinos.
          .bonuses__info-txt.
            And fortunately you now no longer need to go on the hunt to
            find information about it and find the best Skrill Online
            Casinos to play at, here they are below!
          ul.bonuses__info-list.marked-list
            li.bonuses__info-list-item Wide variety of slots games
            li.bonuses__info-list-item Sports betting
            li.bonuses__info-list-item 50+ Live Dealer games
            li.bonuses__info-list-item Great on mobile
        .bonuses__more
          .show-all View Bonus Conditions
      .about
        h2.about__title.inner-title About Parimatch Casino
        ul.about__rate
          li.about__rate-item
            // Green circle
            // data-pct - кол-во, которое будет отображаться
            // var $circle = $('#svg #bar');
            // var r = $circle.attr('r');
            // var c = Math.PI*(r*2);
            // if (val < 0) { val = 0;}
            // if (val > 100) { val = 100;}
            // var pct = ((5-val)/5)*c;
            // $circle.css({ strokeDashoffset: pct});
            .circle.--high(data-pct='4.5')
              svg.circle-progress(width='64' height='64' viewport='0 0 32 32')
                circle.circle-progress__bar(stroke-dashoffset='20' r='30' cx='32' cy='32' fill='transparent' stroke-dasharray='188' stroke-linecap='round')
            .about__rate-item-txt Bonus Offer
          li.about__rate-item
            .circle.--low(data-pct='2.0')
              svg.circle-progress(width='64' height='64' viewport='0 0 32 32')
                circle.circle-progress__bar(stroke-dashoffset='120' r='30' cx='32' cy='32' fill='transparent' stroke-dasharray='188' stroke-linecap='round')
            .about__rate-item-txt Betting Variety
          li.about__rate-item
            .circle.--mid(data-pct='3.5')
              svg.circle-progress(width='64' height='64' viewport='0 0 32 32')
                circle.circle-progress__bar(stroke-dashoffset='60' r='30' cx='32' cy='32' fill='transparent' stroke-dasharray='188' stroke-linecap='round')
            .about__rate-item-txt Mobile Experience
          li.about__rate-item
            .circle.--high(data-pct='5.0')
              svg.circle-progress(width='64' height='64' viewport='0 0 32 32')
                circle.circle-progress__bar(stroke-dashoffset='0' r='30' cx='32' cy='32' fill='transparent' stroke-dasharray='188' stroke-linecap='round')
            .about__rate-item-txt Withdrawal Rate
          li.about__rate-item
            .circle.--high(data-pct='4.0')
              svg.circle-progress(width='64' height='64' viewport='0 0 32 32')
                circle.circle-progress__bar(stroke-dashoffset='40' r='30' cx='32' cy='32' fill='transparent' stroke-dasharray='188' stroke-linecap='round')
            .about__rate-item-txt Support
        .about__subtitle Parimatch
        .about__txt.
          Bettson Casino was founded in 1997. Powered by Curacao
          license. Accepts players from 270 countries. Account
          currencies - Bulgarian lev, US dollar, Euro, Kazakhstani
          tenge, Canadian dollar, Chinese yuan, New Zealand dollar,
          Norwegian krone, Polish zloty, Russian ruble, Ukrainian
          hryvnia. 16 payment systems are connected, and the minimum
          replenishment is 50 rubles. The support communicates in
          Russian and English. The casino offers bonuses to new and
          already registered players. You can get: free spins,
          deposit bonus, welcome bonus.
        .about__info
          .about__info-big-img
            img(src="img/about-info-img.jpeg" alt="")
          ul.about__info-thumbList
            li.about__info-thumbList-item
              img(src="img/about-info-img-thumb-1.jpeg" alt="")
            li.about__info-thumbList-item
              img(src="img/about-info-img-thumb-2.jpeg" alt="")
            li.about__info-thumbList-item
              img(src="img/about-info-img-thumb-3.jpeg" alt="")
        .about__more
          .show-all View All
      .characteristics
        h2.inner-title.characteristics__title Characteristics of Parimatch
        .characteristics__item
          p.characteristics__item-key Website:
          a(href="https:/www.royalrabbitcasino.com/" target="_blank").characteristics__website-value https:/www.royalrabbitcasino.com/
        .characteristics__item
          p.characteristics__item-key Withdrawal Times
          .characteristics__item-value
            p EWallets: 24 hours
            p Card Payments: 48 hours
            p Bank Transfers: 3-5 days
            p Cheques: Not offered
            p Pending Time: 48-96 hours
        .characteristics__item
          p.characteristics__item-key Withdrawal Limit
          .characteristics__item-value
            p EUR/USD/GBP 500 per day, EUR/USD/GBP 15,000 per month
        .characteristics__item
          p.characteristics__item-key Affiliate Program
          .characteristics__item-value
            p High Affiliates
        .characteristics__item
          p.characteristics__item-key Update
          .characteristics__item-value
            p 1 days ago
        .characteristics__item
          p.characteristics__item-key Games
          .characteristics__item-value
            p 45
        .characteristics__item
          p.characteristics__item-key Minimum deposit
          .characteristics__item-value
            p 10 EUR/USD/GBP
        .characteristics__info
          .characteristics__item
            p.characteristics__item-key Update
            .characteristics__item-value
              p 1 days ago
          .characteristics__item
            p.characteristics__item-key Games
            .characteristics__item-value
              p 45
          .characteristics__item
            p.characteristics__item-key Minimum deposit
            .characteristics__item-value
              p 10 EUR/USD/GBP
        .characteristics__more
          .show-all View All
      .vantages
        h2.inner-title.customer-support__title Parimatch Casino Review
        .wrap
          ul.vantages__positive
            li.positive-item 24 hour withdrawals once processed
            li.positive-item Home to leading software providers
            li.positive-item Live chat is open 24/7
            li.positive-item Mobile friendly design
          ul.vantages__negative
            li.negative-item Several country restrictions
      .opinion
        h2.inner-title.opinion__title Editor’s Opinion
        .opinion__wrap
          .opinion__author
            .opinion__author-img
              img(src="img/author.png" alt="")
            .opinion__author-txt
              a(href="#" target="_blank").opinion__author-txt-name Ivan Gucev
              .opinion__author-txt-sub Autor Blog
          .opinion__txt.
            LeoVegas is hands down one of the best online casinos in
            India. I use them every time I want to play the newest
            and best casino games such as online slot machines.
            LeoVegas is a really great online casino that you can
            trust. I highly recommend that you give LeoVegas a try!
            The biggest downside of LeoVegas is their deposit
            methods. They don’t make it very easy for Indian
            players to deposit money.
      .providers
        h2.inner-title.providers__title Providers
        ul.providers__list
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-1@2x.png" alt="1x2 Gaming")
            p 1x2 Gaming
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-2@2x.png" alt="Ainsworth Game Tech")
            p Ainsworth Game Tech
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-3@2x.png" alt="Quickspin")
            p Quickspin
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-4@2x.png" alt="EGT Interactive")
            p EGT Interactive
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-5@2x.png" alt="NetEnt")
            p NetEnt
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-6@2x.png" alt="PariPlay")
            p PariPlay
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-7@2x.png" alt="Play'n Go")
            p Play'n Go
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-8@2x.png" alt="Rabcat")
            p Rabcat
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-9@2x.png" alt="Barcrest Games")
            p Barcrest Games
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-10@2x.png" alt="Microgaming")
            p Microgaming
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-11@2x.png" alt="Quickfire")
            p Quickfire
          li.providers__list-item
            .img-wrap
              img(src="img/provider-logo-12@2x.png" alt="Wazdan")
            p Wazdan
        .providers__info
          ul.providers__list
            li.providers__list-item
              .img-wrap
                img(src="img/provider-logo-1@2x.png" alt="1x2 Gaming")
              p 1x2 Gaming
            li.providers__list-item
              .img-wrap
                img(src="img/provider-logo-2@2x.png" alt="Ainsworth Game Tech")
              p Ainsworth Game Tech
            li.providers__list-item
              .img-wrap
                img(src="img/provider-logo-3@2x.png" alt="Quickspin")
              p Quickspin
        .providers__more
          .show-all View All
      .banking
        h2.inner-title.banking__title Banking
        p.banking__subtitle Deposit Methods
        ul.banking__list
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-1@2x.png" alt="Skrill")
            p Skrill
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-2@2x.png" alt="PayPal")
            p PayPal
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-3@2x.png" alt="Mastercard")
            p Mastercard
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-4@2x.png" alt="Bitcoin")
            p Bitcoin
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-5@2x.png" alt="QIWI Wallet")
            p QIWI Wallet
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-6@2x.png" alt="Yandex Money")
            p Yandex Money
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-7@2x.png" alt="Sofort-Klarna")
            p Sofort-Klarna
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-8@2x.png" alt="SticPay")
            p SticPay
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-9@2x.png" alt="Svyaznoy")
            p Svyaznoy
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-10@2x.png" alt="Accent Pay")
            p Accent Pay
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-11@2x.png" alt="Alfa Click")
            p Alfa Click
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-12@2x.png" alt="Wazdan")
            p Wazdan
        p.banking__subtitle Withdrawal Methods
        ul.banking__list
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-4@2x.png" alt="Bitcoin")
            p Bitcoin
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-5@2x.png" alt="QIWI Wallet")
            p QIWI Wallet
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-6@2x.png" alt="Yandex Money")
            p Yandex Money
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-2@2x.png" alt="PayPal")
            p PayPal
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-3@2x.png" alt="Mastercard")
            p Mastercard
          li.banking__list-item
            .img-wrap
              img(src="img/banking-deposit-1@2x.png" alt="Skrill")
            p Skrill
        .banking__info
          p.banking__subtitle Something else
          ul.banking__list.list-margin
            li.banking__list-item
              .img-wrap
                img(src="img/banking-deposit-1@2x.png" alt="Skrill")
              p Skrill
            li.banking__list-item
              .img-wrap
                img(src="img/banking-deposit-2@2x.png" alt="PayPal")
              p PayPal
            li.banking__list-item
              .img-wrap
                img(src="img/banking-deposit-3@2x.png" alt="Mastercard")
              p Mastercard
        .banking__more
          .show-all View All
      .slots
        h2.inner-title.slots__title Slots Parimarch
        ul.slots__list
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-1.jpg" alt="Dead or Alive 2")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-2.jpg" alt="Dragon Chase")
            p.title Dragon Chase
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-3.jpg" alt="Pirates")
            p.title Pirates
            p.subtitle Pragmatic
          li.slots__list-item
            a(href="#").link
            .img-wrap
              img(src="img/slot-4.jpg" alt="Cleopatra")
            p.title Cleopatra
            p.subtitle Pragmatic
        .slots__info
          ul.slots__list
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/slot-1.jpg" alt="Dead or Alive 2")
              p.title Dead or Alive 2
              p.subtitle Pragmatic
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/slot-2.jpg" alt="Dragon Chase")
              p.title Dragon Chase
              p.subtitle Pragmatic
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/slot-3.jpg" alt="Pirates")
              p.title Pirates
              p.subtitle Pragmatic
            li.slots__list-item
              a(href="#").link
              .img-wrap
                img(src="img/slot-4.jpg" alt="Cleopatra")
              p.title Cleopatra
              p.subtitle Pragmatic
        .slots__more
          .show-all Show All
      .products
        h2.inner-title.products__title Products
        ul.products__list
          li.products__list-item
            .item-icon
            p Blackjack
          li.products__list-item
            .item-icon
            p Roulette
          li.products__list-item
            .item-icon
            p Poker
          li.products__list-item
            .item-icon
            p Live Dealer
          li.products__list-item
            .item-icon
            p Baccarat
          li.products__list-item
            .item-icon
            p Video Poker
      .devices
        h2.inner-title.devices__title Devices
        ul.devices__list
          li.devices__list-item
            .item-icon
            p Android
          li.devices__list-item
            .item-icon
            p IOS
          li.devices__list-item
            .item-icon
            p Windows
      .support
        h2.inner-title.support__title Support
        ul.support__list
          li.support__list-item
            .item-icon
            p Chat 24/7
          li.support__list-item
            .item-icon
            p E-mail
          li.support__list-item
            .item-icon
            p Phone
      .registration
        h2.inner-title.registration__title Registration in Parimatch Casino
        ul.registration__list
          li.registration__list-item
            .item-icon
            p Facebook
          li.registration__list-item
            .item-icon
            p Google
      .faq
        h2.inner-title.faq__title FAQ
        .faq__list
          details.faq__list-item
            summary.faq__list-item-title Is Visa a preferred method of payment?
            p.faq__list-item-text.
              There are some warning signs if you're concerned that you or
              someone you know may have a gambling addiction. If you're hiding
              your habit from other people, maxing out your bank account and
              getting into debt as a result of your real money gambling the
              chances are you may be addicted. Likewise, if you're bunking off
              work to gamble, sneaking around to gamble, and thinking about real
              money gaming 24/7 the likelihood is your hobby has turned into a
              habit and you should seek help.
          details.faq__list-item
            summary.faq__list-item-title.
              What is the difference between a VISA Debit Card and a VISA Credit Card?
            p.faq__list-item-text.
              The best new casinos added to our listing, including detailed
              casino reviews and ratings, bonuses, promotions, and
              experiences by real players right at your fingertips. Here you
              can find the top online casinos we have included in our database
              just recently. The best new casinos added to our listing,
              including detailed casino reviews and ratings, bonuses,
              promotions, and experiences by real players right at your
              fingertips. Here you can find the top online casinos we have
              included in our database just recently. The best new casinos
              added to our listing, including detailed casino reviews and
              ratings, bonuses, promotions, and experiences by real players
              right at your fingertips. Here you
          details.faq__list-item
            summary.faq__list-item-title.
              Is Visa safe to use at online casinos?
            p.faq__list-item-text.
              Test text
          details.faq__list-item
            summary.faq__list-item-title.
              What happens if their system detects a fraudulent payment to a VISA casino online?
            p.faq__list-item-text.
              Test text
